# Required by tools
pylibjpeg~=2.0
numpy~=2.3
moviepy~=2.2
Pillow~=11.3
proglog~=0.1

# pylibjpeg[all]
pylibjpeg-libjpeg~=2.3
pylibjpeg-openjpeg~=2.4
pylibjpeg-rle~=2.0

# Test dependencies
pytest~=8.4
pytest-asyncio~=1.2
